<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head", {pageTitle}) %>
    </head>
    <body>
        <%- include("includes/header") %>
        <main>
            <h1>Not Authenticated</h1>
            <p>You're not Authenticated</p>
            <p><a href="/" class="btn">Back to safety!</a></p>
        </main>
        <%- include("includes/footer") %>
    </body>
</html>
