<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head", {pageTitle : "Error 500"}) %>
    </head>
    <body>
        <%- include("includes/header") %>
        <main>
            <h1>Something went wrong!</h1>
            <p>
                Unfortunately something went wrong on our side - please try
                again later
            </p>
            <p><a href="/" class="btn">Back to safety!</a></p>
        </main>
        <%- include("includes/footer") %>
    </body>
</html>
