<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- prettier-ignore -->
        <%- include("../../shared/includes/head", { pageTitle : "All Your Orders"}) %>
    </head>
    <body>
        <%- include("../../shared/includes/header") %>
        <main>
            <h1>All Your Orders</h1>
        </main>
        <%- include("../../shared/includes/footer") %>
    </body>
</html>
