<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- prettier-ignore -->
        <%- include("../../shared/includes/head", { pageTitle : "All Products"}) %>
        <link rel="stylesheet" href="/styles/products.css" />
    </head>
    <body>
        <%- include("../../shared/includes/header") %>
        <main>
            <h1>All Products</h1>
            <p>A list of Products</p>
            <ul id="products-grid">
                <% for (const product of products) { %>
                <li>
                    <!-- prettier-ignore -->
                    <%- include("../../shared/includes/product-item.ejs", { product :product }) %>
                </li>
                <% } %>
            </ul>
        </main>
        <%- include("../../shared/includes/footer") %>
    </body>
</html>
