<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- prettier-ignore -->
        <%- include("../../shared/includes/head", { pageTitle : "Add New Products"}) %>
        <link rel="stylesheet" href="/styles/forms.css" />
        <script src="/scripts/image-preview.js" defer></script>
    </head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main>
            <h1>Update Product</h1>
            <!-- prettier-ignore -->
            <%- include('includes/product-form', { submitPath: '/admin/products/' + product.id, product: product, imageRequired: false }) %>
        </main>
    </body>
</html>
